.secretLetter{

padding:40px;

background:white;

color:#333;

border-radius:20px;

box-shadow:

0 20px 40px rgba(0,0,0,.2);

}

.secretLetter h2{

margin-bottom:20px;

font-family:"Great Vibes";

font-size:48px;

color:#ff4fa3;

}

.secretLetter p{

white-space:pre-line;

line-height:2;

font-size:18px;

}