.puzzlePage{

padding:100px 30px;

display:flex;

flex-direction:column;

align-items:center;

}
.puzzleContent{
    display:flex;
    gap:30px;
    align-items:flex-start;
    justify-content:center;
    flex-wrap:wrap;
}

.puzzlePage h1{

font-family:"Great Vibes";

font-size:60px;

margin-bottom:10px;

}

.puzzlePage p{

opacity:.8;

margin-bottom:50px;

}

.puzzleLayout{

display:grid;

grid-template-columns:340px 540px;

gap:60px;

align-items:start;

}

.pieceContainer{

display:grid;

grid-template-columns:repeat(5,60px);

gap:8px;

padding:20px;

border-radius:20px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

}

.board{

display:grid;

grid-template-columns:repeat(5,100px);

grid-template-rows:repeat(5,100px);

gap:5px;

padding:10px;

background:rgba(255,255,255,.08);

border-radius:25px;

backdrop-filter:blur(20px);

}

.boardCell{

background:rgba(255,255,255,.05);

border:2px dashed rgba(255,255,255,.2);

border-radius:8px;

}

.piece{

width:60px;

height:60px;

border-radius:8px;

cursor:grab;

background-repeat:no-repeat;

box-shadow:0 10px 20px rgba(0,0,0,.2);

transition:.25s;

}

.piece:hover{

transform:scale(1.08);

}

@media(max-width:992px){

.puzzleLayout{

grid-template-columns:1fr;

}

.board{

justify-self:center;

}

}

@media(max-width:768px){

.board{

grid-template-columns:repeat(5,70px);

grid-template-rows:repeat(5,70px);

}

.boardCell{

width:70px;

height:70px;

}

}

@media(max-width:480px){

.puzzlePage{

padding:70px 15px;

}

.puzzlePage h1{

font-size:36px;

}

.pieceContainer{

grid-template-columns:repeat(5,50px);

gap:5px;

}

.piece{

width:50px;

height:50px;

}

.board{

grid-template-columns:repeat(5,55px);

grid-template-rows:repeat(5,55px);

gap:3px;

}

.boardCell{

width:55px;

height:55px;

}

}