.cakeWrapper{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

min-height:100vh;

padding:40px;

}

.cakeTitle{

font-size:60px;

font-family:"Great Vibes";

margin-bottom:10px;

text-align:center;

}

.cakeSub{

margin-bottom:60px;

opacity:.8;

font-size:18px;

}

.cakeArea{

display:flex;

flex-direction:column;

align-items:center;

}

.candles{

display:flex;

gap:22px;

margin-bottom:12px;

}

.candleBox{

cursor:pointer;

display:flex;

flex-direction:column;

align-items:center;

}

.flame{

width:14px;

height:22px;

background:gold;

border-radius:50% 50% 50% 50%;

animation:flicker .25s infinite alternate;

box-shadow:

0 0 10px orange,

0 0 25px gold,

0 0 45px yellow;

}

@keyframes flicker{

from{

transform:scale(.95);

}

to{

transform:scale(1.1);

}

}

.candle{

width:12px;

height:55px;

background:white;

border-radius:20px;

}

.candle.off{

background:#aaa;

}

.cake{

display:flex;

flex-direction:column;

align-items:center;

transition:.6s;

}

.layer{

width:280px;

border-radius:18px;

}

.layer1{

height:55px;

background:#ff9ecb;

}

.layer2{

height:65px;

background:#ff7eb6;

}

.layer3{

height:80px;

background:#ff4fa3;

}

.cream{

width:280px;

height:12px;

background:white;

border-radius:20px;

}

.icing{

width:300px;

height:20px;

background:white;

border-radius:30px;

margin-bottom:-4px;

}

.plate{

width:350px;

height:20px;

background:#d9d9d9;

border-radius:50%;

margin-top:8px;

}

.cut{

animation:cutCake .8s ease;

}

@keyframes cutCake{

0%{

transform:scale(1);

}

50%{

transform:scale(1.08);

}

100%{

transform:scale(1);

}

}

.cakeMessage{

margin-top:40px;

text-align:center;

font-size:24px;

font-weight:600;

line-height:1.8;

color:#ffd166;

animation:fadeIn 1s;

}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:768px){

.cakeTitle{

font-size:42px;

}

.layer{

width:210px;

}

.cream{

width:210px;

}

.icing{

width:230px;

}

.plate{

width:260px;

}

.candles{

gap:14px;

}

}