.primaryButton{

padding:15px 40px;

border:none;

border-radius:40px;

cursor:pointer;

font-size:17px;

font-weight:600;

background:linear-gradient(

90deg,

#ff4fa3,

#7c4dff

);

color:white;

transition:.3s;

}

.primaryButton:hover{

transform:translateY(-3px);

box-shadow:

0 10px 30px rgba(255,79,159,.35);

}