*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:Poppins,sans-serif;

background:#09090f;

color:white;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

img{

max-width:100%;

display:block;

}

button{

font-family:inherit;

}