@media(max-width:1200px){

.container{

padding:30px;

}

}

@media(max-width:768px){

.heading{

font-size:46px;

}

}

@media(max-width:480px){

.heading{

font-size:34px;

}

.paragraph{

font-size:15px;

}

}