.musicPlayer{

position:fixed;

right:25px;

bottom:25px;

z-index:999;

display:flex;

align-items:center;

justify-content:space-between;

gap:20px;

padding:18px 22px;

border-radius:22px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.12);

width:360px;

box-shadow:

0 15px 35px rgba(0,0,0,.35);

}

.musicLeft{

display:flex;

align-items:center;

gap:15px;

}

.musicDisc{

width:60px;

height:60px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(

135deg,

#ff4fa3,

#7c4dff

);

font-size:26px;

box-shadow:

0 0 25px rgba(255,79,159,.45);

}

.rotate{

animation:spin 5s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

.musicLeft h4{

font-size:16px;

margin-bottom:4px;

}

.musicLeft span{

font-size:13px;

opacity:.7;

}

.musicControls{

display:flex;

align-items:center;

gap:12px;

}

.musicControls button{

width:42px;

height:42px;

border:none;

border-radius:50%;

background:#ff4fa3;

color:white;

font-size:15px;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

transition:.3s;

}

.musicControls button:hover{

transform:scale(1.08);

}

.musicControls input{

width:90px;

cursor:pointer;

accent-color:#ff4fa3;

}

/* Desktop */

@media(min-width:1400px){

.musicPlayer{

width:390px;

}

}

/* Laptop */

@media(max-width:1200px){

.musicPlayer{

width:330px;

}

}

/* Tablet */

@media(max-width:768px){

.musicPlayer{

width:290px;

padding:14px;

bottom:20px;

right:20px;

}

.musicDisc{

width:50px;

height:50px;

font-size:22px;

}

.musicControls input{

width:60px;

}

.musicLeft h4{

font-size:14px;

}

}

/* Mobile */

@media(max-width:480px){

.musicPlayer{

left:50%;

transform:translateX(-50%);

right:auto;

bottom:12px;

width:95%;

padding:12px;

gap:10px;

}

.musicLeft{

gap:10px;

}

.musicDisc{

width:42px;

height:42px;

font-size:18px;

}

.musicControls{

gap:8px;

}

.musicControls button{

width:36px;

height:36px;

font-size:13px;

}

.musicControls input{

width:55px;

}

.musicLeft h4{

font-size:13px;

}

.musicLeft span{

font-size:11px;

}

}