@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@400;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root{

--primary:#ff4fa3;
--secondary:#7f5af0;
--dark:#09090f;
--light:#ffffff;
--glass:rgba(255,255,255,.08);

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:Poppins,sans-serif;

background:#09090f;

color:white;

overflow-x:hidden;

min-height:100vh;

}

a{

text-decoration:none;

color:inherit;

}

button{

font-family:Poppins;

cursor:pointer;

border:none;

outline:none;

}

img{

display:block;

max-width:100%;

}

section{

min-height:100vh;

padding:100px 8%;

position:relative;

}

.glass{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.12);

border-radius:24px;

}

.title{

font-size:72px;

font-family:"Great Vibes";

text-align:center;

color:#fff;

}

.subtitle{

font-size:22px;

text-align:center;

opacity:.8;

margin-top:20px;

}

.gradient{

background:linear-gradient(
90deg,
#ff4fa3,
#c084fc,
#60a5fa
);

background-clip:text;

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#ff4fa3;

border-radius:100px;

}

::-webkit-scrollbar-track{

background:#151515;

}
.app{
    position:relative;
    min-height:100vh;
    overflow-x:hidden;
}

.appContent{
    position:relative;
    z-index:5;
}

main{
    min-height:100vh;
}

body{
    overflow-x:hidden;
}